<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{% url 'dashboard' %}">Dashboard</a></h1>
    </li>
	 <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	 </ul>
	<section class="top-bar-section">
   
    <ul class="right">
      <li class="active"><a href="#">store sync</a></li>
	  <li class="active"><a href="#">Account</a></li>
      </ul>
	  
	  <ul class="left">
      
	  <li class="has-dropdown">
	  <a href="#">Manage Customers</a>
	  <ul class="dropdown">
	  <li><a href="#">View/Edit Customers</a> </li>
	  <li><a href="#">Add Customes</a> </li>
	  </ul>
	  
	  <!--<li class="has-dropdown">
	  <a href="#">Categories</a>
	  <ul class="dropdown">
	  <li><a href="#">Manage Categories</a> </li>
	  <li><a href="#">Attributes</a> </li>
	  <li><a href="#">Attributes set</a> </li>
	  </ul>
	  </li> -->
	  
	   <li><a href="products/new/"> Add Products quick link</a></li>
	   <li class="has-dropdown">
	   <a href="#">Manage Products</a>
	   <ul class="dropdown">
	   <li><a href="#">Pending Products </a></li>
	   <li><a href="#">Products </a></li>
	  <li><a href="#">View/Edit Products </a></li>
	   
	   </ul>
	   
	   </li>
    </ul>
  </section>
     
    
</nav>