{% extends 'common.html' %}


{% block content_layout %}
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form class="form-signin" method="post" action="">
      {% csrf_token %}
      <h2 class="form-signin-heading text-center">{% trans "" %}</h2>
      <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
      <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
    </form>
  </div>
  <div class="col-md-4"></div>
{% endblock %}